*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  display: block;
  cursor: pointer;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
  color: inherit;
  padding: 0;
  background-color: transparent;
  font: inherit;
}

address {
  font-style: normal;
}

