.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  list-style: circle;
  line-height: 21px;
  gap: 32px;
}

.header__links-list-item--no-bullit {
  list-style-type: none;
  padding-left: 0;
}

.link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link--active {
  cursor: default;
  text-decoration: none;
}

.header__logo {
  max-height: 105px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  line-height: 1.35em;
  font-size: 18px;
  white-space: pre-line;
}

.header__address {
  justify-self: flex-end;
  padding-right: 37px;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  text-transform: uppercase;
  padding: 165px 20px 106px 50px;
  line-height: 115px;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  color: #fff;
  z-index: 2;
}

.aligned-text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 50px 50px;
  text-transform: uppercase;
  word-spacing: 0.84em;
  line-height: 28px;
  font-size: 22px;
  color: #fff;
  z-index: 2;
}

.cover__description-text {
  align-self: center;
}

.cover__description-bet-button {
  border: 1px solid #fff;
  padding: 11px 32px;
  text-transform: uppercase;
}

.lots {
  padding: 179px 23px 120px;
}

.lots__heading {
  padding-left: 41px;
  padding-bottom: 27px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
}

.lots__card-list-item {
  flex-grow: 3;
  width: 334px;
  min-height: 596px;
}

.card-link {
  text-decoration: none;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 2;
  padding: 48px 40px 0;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
}

.card__text {
  z-index: 1;
  padding: 0 40px 48px;
  font-size: 20px;
  color: #fff;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');

}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.lots__look-more-link {
  padding-top: 30px;
  padding-left: 40px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template: 1fr auto / 334px auto;
  column-gap: 25px;
  margin: 0 24px 180px;
}

.about__column--left {
  align-content: center;
  justify-self: center;
  margin-block-start: 36px;
}
/* Разбив на две колонки - только ради корректного отображения в файрфоксе,
                                изначально была одна без повторов. К-кроссбраузерность(или костыль)*/
.about__column--right {
  align-content: center;
  justify-self: flex-start;
  padding-top: 40px;
}

.about__logo {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 150px;
  height: 115px;
}

.about__title {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
}

.about__text-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 24px;
  margin-block-start: 6px;
  line-height: 24px;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template: 180px / repeat(3, 1fr);
  font-size: 18px;
  padding: 0 50px;
  white-space: nowrap;
}

.footer__menu {
  text-align: center;
}

.footer__menu-list-item {
  list-style-type: none;
}

.footer__menu-link--active {
  cursor: default;
  text-decoration: none;
}

.socials {
  justify-self: flex-end;
}

.footer__social-list {
  display: flex;
  column-gap: 48px;
  width: 240px;
}

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
